<div class="conatiner px-2">
    <div class="row gy-6">
        <div class="col-xxl-8 col-xl-8 col-md-12 pb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7 ps-0">
                            <h2 class="mb-0 fs-5 m-1 ps-2">Overview @if(isProcessing){
                                <div class="spinner-border mx-2" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                }
                            </h2>

                            <div class="p-0">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [xaxis]="chartOptions.xaxis" [dataLabels]="chartOptions.dataLabels"
                                    [plotOptions]="chartOptions.plotOptions" [legend]="chartOptions.legend"
                                    [colors]="chartOptions.colors"></apx-chart>
                            </div>
                        </div>
                        <div class="col-md-5 border-start">
                            <div class="d-flex justify-content-between">
                                <h2 class="mb-0 fs-5 m-1">${{totalSales | number:'1.2-2'}}</h2>
                                <div class="dropdown">
                                    <a class="text-muted p-0" type="button" id="totalProfit" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical fs-5 hoverColor"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalProfit">
                                        <a class="dropdown-item" type="button">This Month</a>
                                        <a class="dropdown-item" type="button">Last Month</a>
                                        <a class="dropdown-item" type="button">This Year</a>
                                    </div>
                                </div>
                            </div>
                            <p class="card-subtitle mb-0 ms-1">Last Month Sales ${{lastMonthTotalSales |
                                number:'1.2-2'}}</p>
                            <div class="px-2 pt-4">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="expense rounded p-2">
                                        <i class="bi bi-credit-card fs-4"></i>
                                    </div>
                                    <div class="ms-3 d-flex flex-column">
                                        <h2 class="mb-0 fs-6">${{totalExpense | number:'1.2-2'}}</h2>
                                        <p class="mb-0">Total Expense</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <div class="profit rounded p-2">
                                        <i class="bi bi-graph-up fs-4"></i>
                                    </div>
                                    <div class="ms-3 d-flex flex-column">
                                        <h2 class="mb-0 fs-6">${{totalProfit | number:'1.2-2'}}</h2>
                                        <p class="mb-0">Total Profit</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <div class="income rounded p-2">
                                        <i class="bi bi-wallet2 fs-4"></i>
                                    </div>
                                    <div class="ms-3 d-flex flex-column">
                                        <h2 class="mb-0 fs-6">${{totalSales | number:'1.2-2'}}</h2>
                                        <p class="mb-0">Total Sales</p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-primary w-100" type="button"
                                        routerLink="/dashboard/reports">View
                                        Reports</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-md-12 pb-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex align-items-center justify-content-between">
                        <h2 class="mb-0 fs-5 m-1">Transactions</h2>
                        <div class="dropdown">
                            <a class="text-muted p-0" type="button" id="transactionID" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-5 hoverColor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                <a class="dropdown-item" type="button">Today</a>
                                <a class="dropdown-item" type="button">This Month</a>
                                <a class="dropdown-item" type="button">Last Month</a>
                            </div>
                        </div>
                    </div>
                    <ul class="m-0 px-2 pt-2">
                        <li class="pb-4 d-flex align-items-center">
                            <div class="me-4">
                                <div class="bankTransfer rounded p-2">
                                    <i class="bi bi-bank fs-4"></i>
                                </div>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                <div class="me-2">
                                    <h2 class="mb-0 fs-6">Bank Transfer</h2>
                                    <p class="mb-0">Belize & Atlantic</p>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-3">
                                    <h2 class="mb-0 fs-6">$0.00</h2>
                                </div>
                            </div>
                        </li>
                        <li class="pb-4 d-flex align-items-center">
                            <div class="me-4">
                                <div class="creditCard rounded p-2">
                                    <i class="bi bi-credit-card fs-4"></i>
                                </div>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                <div class="me-2">
                                    <h2 class="mb-0 fs-6">Credit Card</h2>
                                    <p class="mb-0">Online Payment</p>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-3">
                                    <h2 class="mb-0 fs-6">$0.00</h2>
                                </div>
                            </div>
                        </li>
                        <li class="pb-4 d-flex align-items-center">
                            <div class="me-4">
                                <div class="cashPayment rounded p-2">
                                    <i class="bi bi-cash-coin fs-4"></i>
                                </div>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                <div class="me-2">
                                    <h2 class="mb-0 fs-6">Cash</h2>
                                    <p class="mb-0">Money Received</p>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-3">
                                    <h2 class="mb-0 fs-6">$0.00</h2>
                                </div>
                            </div>
                        </li>
                        <li class="pb-3 d-flex align-items-center">
                            <div class="me-4">
                                <div class="eWallet rounded p-2">
                                    <i class="bi bi-wallet fs-3"></i>
                                </div>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                <div class="me-2">
                                    <h2 class="mb-0 fs-6">eWallets</h2>
                                    <p class="mb-0">Digi & E-Kyash</p>
                                </div>
                                <div class="user-progress d-flex align-items-center gap-3">
                                    <h2 class="mb-0 fs-6">$0.00</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-6">
        <div class="col-xl-3 col-md-6 col-sm-6 pb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="orderBG rounded-circle p-2 d-flex align-items-center m-1">
                            <i class="bi bi-bag-check fs-4"></i>
                        </div>
                        <div class="dropdown">
                            <a class="text-muted p-0" type="button" id="Orders" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-5 hoverColor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Orders">
                                <a class="dropdown-item" type="button">Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h2 class="mb-0 fs-5">Orders</h2>
                        <div class="d-flex flex-wrap mb-1 align-items-center">
                            <h1 class="mb-0 me-2 fw-medium">$0.00</h1>
                            <h5 class="textProfit mb-0 fw-medium">+0%</h5>
                        </div>
                        <p class="m-0">Orders Increase</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-6 pb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="salesBG rounded-circle p-2 d-flex align-items-center m-1">
                            <i class="bi bi-coin fs-4"></i>
                        </div>
                        <div class="dropdown">
                            <a class="text-muted p-0" type="button" id="Sales" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-5 hoverColor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Sales">
                                <a class="dropdown-item" type="button">Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h2 class="mb-0 fs-5">Sales</h2>
                        <div class="d-flex flex-wrap mb-1 align-items-center">
                            <h1 class="mb-0 me-2 fw-medium">${{totalSales | number:'1.2-2'}}</h1>
                            <h5 [class.textProfit]="totalSales > lastMonthTotalSales"
                                [class.text-danger]="totalSales < lastMonthTotalSales" class="mb-0 fw-medium">
                                {{calculatePercent(totalSales, lastMonthTotalSales) |
                                number:'1.2-2'}}%
                            </h5>
                        </div>
                        @if(totalSales > lastMonthTotalSales){
                        <p class="m-0">Sales Increase</p>
                        }@else {
                        <p class="m-0">Sales Decrease</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-6 pb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="transactionBG rounded-circle p-2 d-flex align-items-center m-1">
                            <i class="bi bi-credit-card-2-front fs-4"></i>
                        </div>
                        <div class="dropdown">
                            <a class="text-muted p-0" type="button" id="Transactions" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-5 hoverColor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Transactions">
                                <a class="dropdown-item" type="button">Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h2 class="mb-0 fs-5">Transactions</h2>
                        <div class="d-flex flex-wrap mb-1 align-items-center">
                            <h1 class="mb-0 me-2 fw-medium">$0.00</h1>
                            <h5 class="text-danger mb-0 fw-medium">-0%</h5>
                        </div>
                        <p class="m-0">Transaction Decrease</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-6 pb-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="profitBG rounded-circle p-2 d-flex align-items-center m-1">
                            <i class="bi bi-graph-up fs-4"></i>
                        </div>
                        <div class="dropdown">
                            <a class="text-muted p-0" type="button" id="Profit" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical fs-5 hoverColor"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Profit">
                                <a class="dropdown-item" type="button">Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h2 class="mb-0 fs-5">Profit</h2>
                        <div class="d-flex flex-wrap mb-1 align-items-center">
                            <h1 class="mb-0 me-2 fw-medium">${{totalProfit | number:'1.2-2'}}</h1>
                            <h5 [class.textProfit]="totalProfit > lastMonthTotalProfit"
                                [class.text-danger]="totalProfit < lastMonthTotalProfit" class="mb-0 fw-medium">
                                {{calculatePercent(totalProfit, lastMonthTotalProfit) |
                                number:'1.2-2'}}%
                            </h5>
                        </div>
                        @if(totalProfit > lastMonthTotalProfit){
                        <p class="m-0">Profit Increase</p>
                        }@else {
                        <p class="m-0">Profit Decrease</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>