.backgroundColor {
    background-color: #fff;
}

.input-group-text {
    background-color: inherit;
}

.forgotPwdLink {
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.forgotPwdLink:hover {
    color: #497ffc;
    text-decoration: underline;

}