.backgroundColor {
    background-color: #f4f5fa;
}

.input-group-text {
    background-color: inherit;
}

.forgotPwdLink {
    text-decoration: none;
    color: rgb(107, 107, 107);
}

.forgotPwdLink:hover {
    color: #315cd5;
    text-decoration: underline;

}