/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f5fa;
}

.btn-primary {
    border: solid 1px #497ffc;
    background-color: #497ffc;
}

.dropdown-item {
    padding: 8px 16px;
}

.dropdown-item:hover {
    background: rgba(46, 38, 61, .08);
}

.dropdown-item:active {
    color: #497ffc;
}

.dropdown-menu {
    border-radius: 1rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 .25rem .625rem rgba(46, 38, 61, .2);
}