/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f4f5fa;
    scrollbar-width: thin;
    scrollbar-color: #a3a3a3 #f1f1f1;
}

.btn-primary {
    border: solid 1px #497ffc;
    background-color: #497ffc;
    border-radius: 1rem;
}

.btn {
    border-radius: .8rem;
}

.dropdown-item {
    padding: 8px 16px;
}

.dropdown-item:hover {
    background: rgba(46, 38, 61, .08);
}

.dropdown-item:active {
    color: #497ffc;
}

.dropdown-menu {
    border-radius: 1rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 .25rem .625rem rgba(46, 38, 61, .2);
}

/* Success Snackbar Style */
.success-snackbar {
    .mat-mdc-snackbar-surface {
        background-color: rgba(54, 106, 226, 0.8) !important;
        border-radius: 1rem !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        text-align: center !important;
    }

    .mdc-button__label {
        color: white !important;
    }
}

/* Error Snackbar Style */
.error-snackbar {
    .mat-mdc-snackbar-surface {
        text-align: center !important;
        background-color: rgba(240, 26, 40, 0.8) !important;
        border-radius: 1rem !important;
        color: white !important;
    }

    .mat-mdc-snack-bar-label {
        text-align: center !important;
    }

    .mdc-button__label {
        color: white !important;
    }

}

.text-danger {
    color: #ff4c51 !important;
}