.reportOption:hover {
    color: #497ffc;
    cursor: pointer;
}

.scrollable {
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #a3a3a3 #f1f1f1;
}

.colWidthLg {
    flex: 4;
}

.colWidthXLg {
    flex: 5;
}

.colWidthMd {
    flex: 2;
}

@media print {
    .hide {
        display: none;
    }

    .scrollable {
        overflow-y: auto;
        overflow-x: auto;
        height: auto;

    }
}